@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?4ymy6l');
  src:  url('../webfonts/icomoon.eot?4ymy6l#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?4ymy6l') format('truetype'),
    url('../webfonts/icomoon.woff?4ymy6l') format('woff'),
    url('../webfonts/icomoon.svg?4ymy6l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-type01:before {
  content: "\e900";
}
.icon-type02:before {
  content: "\e901";
}
.icon-type03:before {
  content: "\e902";
}
.icon-type04:before {
  content: "\e903";
}
.icon-type05:before {
  content: "\e904";
}
.icon-type06:before {
  content: "\e905";
}
.icon-type07:before {
  content: "\e906";
}
.icon-type08:before {
  content: "\e907";
}
.icon-type09:before {
  content: "\e908";
}
.icon-type10:before {
  content: "\e909";
}
.icon-type11:before {
  content: "\e90a";
}
.icon-type12:before {
  content: "\e90b";
}
.icon-type13:before {
  content: "\e90c";
}
.icon-type14:before {
  content: "\e90d";
}
.icon-type15:before {
  content: "\e90e";
}
.icon-type16:before {
  content: "\e90f";
}
.icon-type17:before {
  content: "\e910";
}
.icon-type18:before {
  content: "\e911";
}
.icon-type19:before {
  content: "\e912";
}
.icon-type20:before {
  content: "\e913";
}
.icon-type21:before {
  content: "\e914";
}
.icon-type22:before {
  content: "\e915";
}
.icon-type23:before {
  content: "\e916";
}
