@charset "utf-8";

/*==================================================

 市民活動センターとは

================================================== */

/* h2 */
#pagetitle.centerinfo .container .h2{
	background-image: url(../images/bg_pagetitle_centerinfo.png) ;
}

/* top */
#maininfomation .block{
	margin-bottom: 50px ;
}
#maininfomation .block.top p{
	text-align: center ;
	font-size: 1.7rem ;
	margin-bottom: 20px ;
	line-height: 2em ;
}
#maininfomation .block.top p span{
	font-size: 1.2em ;
}
#maininfomation .block.top p span.b{
	color: #1b89e7 ;
}
#maininfomation .block.top p span.o{
	color: #f78f15 ;
}
#maininfomation .block.top p span.n{
	color: #1f41ac ;
}

/*==================================================

 センターからのお知らせ 一覧,
 助成金情報  一覧,

=============================================== */

/* h2===================== */

/* センターからのお知らせ */
#pagetitle.news .container .h2{
	background-image: url(../images/bg_pagetitle_news.png) ;
}
/* 助成金 */
#pagetitle.joseikin .container .h2{
	background-image: url(../images/bg_pagetitle_joseikin.png) ;
}

/* main===================== */
#titlelist .container{
	max-width: 900px ;
}
.news_contents{
	margin-bottom: 30px ;
}
.news_contents dl{
	display: table ;
	margin-bottom: 0 ;
	width: 100% ;
	padding: 15px 0 ;
}
.news_contents dl dt{
	display: table-cell ;
	width: 100px ;
	color: #b49b6c ;
	background: url(../images/bg_brown.png) repeat center ;
	padding: 5px ;
	border-radius: 3px ;
	font-weight: normal ;
	font-size: 1.3rem ;
	text-align: center ;
}
.news_contents dl dd{
	display: table-cell ;
	padding-left: 20px ;
}
.news_contents dl dd a{
	color: #1b89e7 ;
	text-decoration: underline ;
	line-height: 1.4em ;
}
.news_contents dl dd a:hover{
	text-decoration: none ;
}
.news_contents dl dd a span.new::before{
	padding: 2px 3px ;
	background-color: #f7b515 ;
	color: #fff ;
	display: inline-block ;
	margin-right: 5px ;
	font-size: 1.2rem ;
	content: "new" ;
	line-height: 1em ;
}
@media (max-width: 767px){
	.news_contents dl,
	.news_contents dl dt,
	.news_contents dl dd{
		display: block ;
		border: 0 ;
	}
	.news_contents dl{
		padding: 10px 0 ;
	}
	.news_contents dl dt{
		margin-bottom: 8px ;
		width: auto ;
	}
	.news_contents dl dd{
		padding: 0 ;
	}
}

/* お知らせ詳細========================= */

dl.file dt::before,
dl.url dt::before{
	font-family: 'Font Awesome 5 Free' ;
	margin-right: 5px ;
}
dl.file dt::before{
	content: "\f15c" ;
}
dl.url dt::before{
	content: "\f108" ;
}

/*==================================================

 各種書式

================================================== */


/* h2 */
#pagetitle.format .container .h2{
	background-image: url(../images/bg_pagetitle_format.png) ;
}

/* top============================= */
.formattop{
	text-align: center ;
	font-size: 1.2em ;
	line-height: 1.6em ;
	margin-bottom: 15px ;
}
/* body============================= */
.format_body{
	margin-bottom: 20px ;
	display: -ms-flex ;
	display: flex ;
	flex-wrap: wrap ;
}
.format_body .group{
	width: 50% ;
	padding: 10px ;
	margin-bottom: 10px ;
}
.format_body .group .grouptitle{
	background-color: #1b89e7 ;
	padding: 13px ;
	color: #fff ;
	border-radius: 3px ;
	text-align: center ;
	position: relative ;
}
.format_body .group .grouptitle::after{
	content: " ";
    position: absolute ;
    top: 100% ;
    left: 50% ;
    margin-left: -10px ;
    border: 10px solid transparent ;
    border-top: 10px solid #1b89e7 ;
    transition: all 0.3s ;
}
.format_body .group .list dl{
	padding: 15px 0 10px 0 ;
	margin-bottom: 0 ;
	border-bottom: #e6e6e6 1px solid ;
}
.format_body .group .list dl dt{
	margin-bottom: 13px ;
}
.format_body .group .list dl dt a{
	text-decoration: underline ;
}
.format_body .group .list dl dt a span{
	display: inline-block ;
	position: relative ;
	width: 28px ;
	height: 15px ;
}
.format_body .group .list dl dt a span::before{
	position: absolute ;
	top: -2px ;
	left: 0 ;
}
/* pdf */
.format_body .group .list dl dt a span.pdf::before{
	content: url(../images/ico_pdf.png) ;
}
/* word */
.format_body .group .list dl dt a span.word::before{
	content: url(../images/ico_word.png) ;
}
/* excel */
.format_body .group .list dl dt a span.xls::before{
	content: url(../images/ico_xls.png) ;
}
.format_body .group .list dl dt a:hover{
	text-decoration: none ;
}
.format_body .group .list dl dd{
	font-size: 1.3rem ;
	line-height: 1.4em ;
	color: #888 ;
	margin-bottom: 0 ;
}

/* software=========================== */

.format_software{
	margin-bottom: 20px ;
}
.format_software dl{
	margin-bottom: 15px ;
}
.format_software dl dt{
	margin-bottom: 10px ;
}
.format_software dl dt a{
	text-decoration: underline ;
	color: #1b89e7 ;
	position: relative ;
	padding-left: 20px ;
}
.format_software dl dt a::before{
	font-family: 'Font Awesome 5 Free' ;
	content: "\f2d2" ;
	position: absolute ;
	left: 0 ;
}
.format_software dl dt a:hover{
	text-decoration: none ;
}
.format_software dl dd{
	font-size: 0.9em ;
}

@media (max-width: 767px){
	.format_body{
		display: block ;
	}
	.format_body .group{
		width: 100% ;
		padding: 0 ;
		margin-bottom: 20px ;
	}
}

/*==================================================

 かわら版・夢交差点

================================================== */

/* h2 */
#pagetitle.book .container .h2{
	background-image: url(../images/bg_pagetitle_book.png) ;
}
.book.container{
	padding-left: 150px ;
}
.book_box{
	position: relative ;
	margin-top: 20px ;
	margin-bottom: 30px ;
	margin-left: auto ;
	margin-right: auto ;
	width: 100% ;
	max-width: 900px ;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	border: #eee 2px solid;
	padding: 30px ;
	padding-left: 70px ;
}
.book_img{
	position: absolute ;
	top: -30px ;
	left: -140px ;
}
.book_img img{
	max-width: 100% ;
}
.book_contents .title{
	margin-bottom: 20px ;
	border-bottom: 2px #eee solid ;
	padding: 10px 0 ;
	font-size: 2.3rem ;
	line-height: 1.4em ;
}
.book_contents .links{
	margin-bottom: 30px ;
}
.book_contents .links ul.btns{
	max-width: 550px ;
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 15px ;
	display: flex ;
	flex-wrap: wrap ;
}
.book_contents .links ul.btns li{
	width: 50% ;
	padding: 5px 10px ;
}
.book_contents .links ul.btns li a{
	text-align: center ;
	width: 100% ;
	height: 40px ;
	display: block ;
	padding: 10px ;
	position: relative ;
	border: #e3cda4 1px solid ;
	background-color: rgba(227, 205, 164, 0.5) ;
	border-radius: 25px ;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.13) ;
}
.book_contents .links ul.btns li a:hover{
	background-color: #fff ;
}
.book_contents .links ul.btns li a span.pdf{
	width: 30px ;
	height: 15px ;
	display: inline-block ;
	position: relative ;
}
.book_contents .links ul.btns li a span.pdf::before{
	content: url(../images/ico_pdf.png) ;
	position: absolute ;
	top: -3px ;
	left: 0 ;
}
.book_contents .links ul.btns li a.latest::before{
	content: url(../images/ico_latest.png) ;
	position: absolute ;
	top: -10px ;
	left: 50% ;
	width: 80px ;
	height: 16px ;
	transform: translateX(-50%) ;
}
.book_contents .other_info{
	margin-bottom: 20px ;
}
.book_contents .other_info dl{
	display: flex ;
	border-bottom: #e6e6e6 1px solid ;
}
.book_contents .other_info dl dt{
	min-width: 130px ;
}
.book_contents .other_info dl dd{
	line-height: 1.4em ;
	font-weight: normal ;
}
.book_box p.pagelink{
	text-align: center ;
	width: 100% ;
}
.book_box p.pagelink a{
	color: #1b89e7 ;
	text-decoration: underline ;
	position: relative ;
	padding-left: 25px ;
}
.book_box p.pagelink a:hover{
	text-decoration: none ;
}
.book_box p.pagelink a::before{
	position: absolute ;
	font-family: 'Font Awesome 5 Free';
	content: "\f059";
	top: 3px ;
	left: 0 ;
	font-size: 2rem ;
}
@media (max-width: 767px){
	.book.container{
		padding-left: 20px ;
	}
	.book_box{
		margin-top: 80px ;
		padding: 15px ;
		padding-top: 80px ;
	}
	.book_img{
		left: 50% ;
		transform: translateX(-50%) ;
		width: 120px ;
		top: -70px ;
	}
	.book_img img{
		max-width: 100% ;
	}
	.book_contents .title{
		font-size: 1.8rem ;
	}
	.book_contents .links ul.btns{
		display: block ;
	}
	.book_contents .links ul.btns li{
		width: 100% ;
		padding: 5px 0 ;
	}
	.book_contents .other_info dl,
	.book_contents .other_info dl dt,
	.book_contents .other_info dl dd{
		display: block ;
		width: 100% ;
	}
	.book_contents .other_info dl dt{
		margin-bottom: 5px ;
	}
}


/*==================================================

 かわら版・夢交差点

================================================== */

.fl_mapillsut{
	text-align: center ;
	margin-bottom: 50px ;
}

.fl_group{
	display: flex ;
	flex-wrap: wrap ;
}
.fl_col{
	width: 33% ;
	padding: 15px ;
	margin-bottom: 10px ;
}
.fl_col .name{
	background-color: #1b89e7 ;
	color: #fff ;
	font-size: 1.1em ;
	border-radius: 3px ;
	padding: 15px 0 ;
	text-align: center ;
	position: relative ;
}
.fl_col .name::after{
	content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #1b89e7 ;
}
.fl_col .text{
	padding: 15px 0 ;
	line-height: 1.6em ;
	font-weight: 500 ;
}
.fl_col .text .r{
	color: #ea2028 ;
}
.fl_col .text .r::before{
	content: "\f06a" ;
	margin-right: 3px ;
	font-family: 'Font Awesome 5 Free';
	font-weight: bold ;
}
.fl_col dl.spl{
	padding: 10px ;
	background: url(../images/bg_brown.png) repeat center ;
	border-radius: 5px ;
}
.fl_col dl.spl dt{
	color: #1b89e7 ;
	margin-bottom: 10px ;
	position: relative ;
}
.fl_col dl.spl dt::before{
	position: absolute ;
	left: -10px ;
	top: 0 ;
	width: 5px ;
	height: 100% ;
	border-radius: 3px ;
	content: " " ;
	background-color: #1b89e7 ;
}
.fl_col dl.spl dd{
	line-height: 1.4em ;
	font-weight: 500 ;
	padding-left: 18px ;
	position: relative ;
	margin-bottom: 5px ;
}
.fl_col dl.spl dd::before{
	position: absolute ;
	content: "\f058" ;
	left: 0 ;
	font-family: 'Font Awesome 5 Free';
	color: #1b89e7 ;
	font-weight: bold ;
}

@media (max-width: 991px){
	.fl_col{
		width: 50% ;
	}
}
@media (max-width: 767px){
	.fl_mapillsut{
		margin-bottom: 30px ;
	}
	.fl_group{
		display: block ;
	}
	.fl_col{
		width: 100% ;
		padding: 0 ;
		margin-bottom: 30px ;
	}
	.fl_col .name{
		padding: 10px ;
	}
	.fl_col .text{
		padding-bottom: 5px ;
	}
}