@charset "utf-8";

/*==================================================
 市民活動センターとは
================================================== */

/* h2 */
#pagetitle.centerinfo .container .h2{
	background-image: url(../images/bg_pagetitle_centerinfo.png) ;
}

/* top */
#maininfomation .block{
	margin-bottom: 50px ;
}
#maininfomation .block.top p{
	text-align: center ;
	font-size: 1.7rem ;
	margin-bottom: 20px ;
	line-height: 2em ;
}
#maininfomation .block.top p span{
	font-size: 1.2em ;
}
#maininfomation .block.top p span.b{
	color: #1b89e7 ;
}
#maininfomation .block.top p span.o{
	color: #f78f15 ;
}
#maininfomation .block.top p span.n{
	color: #1f41ac ;
}

/*==================================================
 センターからのお知らせ 一覧,
 助成金情報  一覧,
=============================================== */

/* h2===================== */

/* センターからのお知らせ */
#pagetitle.news .container .h2{
	background-image: url(../images/bg_pagetitle_news.png) ;
}
/* 助成金 */
#pagetitle.joseikin .container .h2{
	background-image: url(../images/bg_pagetitle_joseikin.png) ;
}

/* main===================== */
#titlelist .container{
	max-width: 900px ;
}
.news_contents{
	margin-bottom: 30px ;
}
.news_contents dl{
	display: table ;
	margin-bottom: 0 ;
	width: 100% ;
	padding: 15px 0 ;
}
.news_contents dl dt{
	display: table-cell ;
	width: 100px ;
	color: #b49b6c ;
	background: url(../images/bg_brown.png) repeat center ;
	padding: 5px ;
	border-radius: 3px ;
	font-weight: normal ;
	font-size: 1.3rem ;
	text-align: center ;
}
.news_contents dl dd{
	display: table-cell ;
	padding-left: 20px ;
}
.news_contents dl dd a{
	color: #1b89e7 ;
	text-decoration: underline ;
	line-height: 1.4em ;
}
.news_contents dl dd a:hover{
	text-decoration: none ;
}
.news_contents dl dd a span.new::before{
	padding: 2px 3px ;
	background-color: #f7b515 ;
	color: #fff ;
	display: inline-block ;
	margin-right: 5px ;
	font-size: 1.2rem ;
	content: "new" ;
	line-height: 1em ;
}
@media (max-width: 767px){
	.news_contents dl,
	.news_contents dl dt,
	.news_contents dl dd{
		display: block ;
		border: 0 ;
	}
	.news_contents dl{
		padding: 10px 0 ;
	}
	.news_contents dl dt{
		margin-bottom: 8px ;
		width: auto ;
	}
	.news_contents dl dd{
		padding: 0 ;
	}
}

/* お知らせ詳細========================= */

dl.file dt::before,
dl.url dt::before{
	font-family: 'Font Awesome 5 Free' ;
	margin-right: 5px ;
}
dl.file dt::before{
	content: "\f15c" ;
}
dl.url dt::before{
	content: "\f108" ;
}

